.about {
    margin-top: 120px;
    min-height: 600px;
    padding-right: 100px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: 1fr;
        gap: 70px;
    }
    &__divider {
        background-color: $main-color;
        width: 60px;
        height: 3px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__text {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 40px;
        row-gap: 20px;
        column-gap: 50px;
    }
    &__grid-item {
        display: grid;
        grid-template-columns: 40px 200px;
        column-gap: 20px;
    }
}